body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.current-weather-block {
    padding-top: 1rem;
    background-color: rgb(2, 196, 255);
    height: 45%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 4fr;
}

.title {
    color: #fff;
    font-size: 2.5rem;
    text-align: left;
    padding-left: 4rem;
    padding-top: 0.5rem;
}

input {
    margin-left: 3rem;
    margin-top: 8px;
    margin-bottom: 8px;
    grid-column: span 3;
    font-size: 1.2rem;
    border-radius: 25px;
    border: none;
    padding-left: 2.5rem;
}

input:focus {
    outline: none;
}

.options {
    position: relative;
    display: flex;
    width: min-content;
    background-color: #dfd7d7;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 10px 0px;
    padding: 0rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.slider {
    height: 45px;
    width: 75px;
    background-color: #fff;
    position: absolute;
    left: 0;
    border-radius: 1.5rem;
    transition: transform 0.5s ease;
}

.slider.left {
    transform: translateX(0);
}

.slider.right {
    transform: translateX(70%);
}

.cel {
    position: relative;
    padding-right: 1.5rem;
    z-index: 10;
}

.fah {
    position: relative;
    padding-left: 1.5rem;
    z-index: 10;
}

.current-weather {
    position: relative;
    grid-column: span 3;
    background-color: #fff;
    margin: 2.5rem;
    margin-left: 7rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.location {
    position: absolute;
    top: 10px;
    left: 2rem;
    font-size: 1.2rem;
}

footer {
    position: absolute;
    color: #9f9d9d;
    bottom: 0;
    left: 40%;
}